@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=block');

:root {
  --color-layer-01: #00212a;
  --color-layer-02: #004a55;
  --color-layer-03: #007781;
  --color-layer-04: #00e1f3;
  --color-layer-05: #ffffff;

  --margin-bottom: 1.2rem;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  background-image: url('../images/2560x1440/fundo.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
  height: 100%;
  width: 100%;
}

#preload {
  display: none;
}

#app {
  position: relative;
  height: 100%;
  width: 100%;
}
  #app.app--loading {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #app.app--loading::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: 99;

    background-color: #008084;
  }
  #app.app--loading::after {
    content: '';
    border: 5px solid #00e1f3; /* Light grey */
    border-top: 5px solid #00212a; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    z-index: 100;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

#app__map {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 60%;
  height: 100%;
  margin-left: 12%;

  background-image: url('../images/2560x1440/VACINACAO_BR_04.png');
  background-position: 55% 0;
  background-repeat: no-repeat;
  background-size: cover;

  transition: background-image 1s ease-in-out;
}

#app__map.map--ac { background-image: url('../images/2560x1440/VACINACAO_AC_04.png'); }
#app__map.map--al { background-image: url('../images/2560x1440/VACINACAO_AL_04.png'); }
#app__map.map--am { background-image: url('../images/2560x1440/VACINACAO_AM_04.png'); }
#app__map.map--ap { background-image: url('../images/2560x1440/VACINACAO_AP_04.png'); }
#app__map.map--ba { background-image: url('../images/2560x1440/VACINACAO_BA_04.png'); }
#app__map.map--br { background-image: url('../images/2560x1440/VACINACAO_BR_04.png'); }
#app__map.map--ce { background-image: url('../images/2560x1440/VACINACAO_CE_04.png'); }
#app__map.map--df { background-image: url('../images/2560x1440/VACINACAO_DF_04.png'); }
#app__map.map--es { background-image: url('../images/2560x1440/VACINACAO_ES_04.png'); }
#app__map.map--go { background-image: url('../images/2560x1440/VACINACAO_GO_04.png'); }
#app__map.map--ma { background-image: url('../images/2560x1440/VACINACAO_MA_04.png'); }
#app__map.map--mg { background-image: url('../images/2560x1440/VACINACAO_MG_04.png'); }
#app__map.map--ms { background-image: url('../images/2560x1440/VACINACAO_MS_04.png'); }
#app__map.map--mt { background-image: url('../images/2560x1440/VACINACAO_MT_04.png'); }
#app__map.map--pa { background-image: url('../images/2560x1440/VACINACAO_PA_04.png'); }
#app__map.map--pb { background-image: url('../images/2560x1440/VACINACAO_PB_04.png'); }
#app__map.map--pe { background-image: url('../images/2560x1440/VACINACAO_PE_04.png'); }
#app__map.map--pi { background-image: url('../images/2560x1440/VACINACAO_PI_04.png'); }
#app__map.map--pr { background-image: url('../images/2560x1440/VACINACAO_PR_04.png'); }
#app__map.map--rj { background-image: url('../images/2560x1440/VACINACAO_RJ_04.png'); }
#app__map.map--rn { background-image: url('../images/2560x1440/VACINACAO_RN_04.png'); }
#app__map.map--ro { background-image: url('../images/2560x1440/VACINACAO_RO_04.png'); }
#app__map.map--rr { background-image: url('../images/2560x1440/VACINACAO_RR_04.png'); }
#app__map.map--rs { background-image: url('../images/2560x1440/VACINACAO_RS_04.png'); }
#app__map.map--sc { background-image: url('../images/2560x1440/VACINACAO_SC_04.png'); }
#app__map.map--se { background-image: url('../images/2560x1440/VACINACAO_SE_04.png'); }
#app__map.map--sp { background-image: url('../images/2560x1440/VACINACAO_SP_04.png'); }
#app__map.map--to { background-image: url('../images/2560x1440/VACINACAO_TO_04.png'); }


#app__states {
  background-color: #07262e;
  background-image: url('../images/aside-background.png');
  background-repeat: repeat;
  background-size: 100%;
  height: 100%;
  width: 12%;
  padding: 15px 10px 15px 0;
  text-align: right;
  overflow: auto;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

#app__states::-webkit-scrollbar {
  width: 5px;
}
 
#app__states::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
#app__states::-webkit-scrollbar-thumb {
  background-color: #00e1f3;
  outline: 0 solid #00e1f3;
}

#app__states .region {
  color: #00d6e7;
  font-weight: 700;
  text-transform: uppercase;
  font-size: .94rem;
  margin-bottom: 5px;
  z-index: 1;
  position: relative;
  overflow: hidden;  
}
  #app__states .region::before {
    position: absolute;
    top: 6px;
    overflow: hidden;
    width: 98%;
    height: 55%;
    content: '\a0';
    background-color: #007781;
    margin-left: -100%;
    text-align: right;
  }
  #app__states .state {
    cursor: pointer;
    font-size: 84%;
    margin-bottom: 2.5px;
  }
  #app__states .state__name {
    color: #00d6e7;
    font-size: 80%;
  }
  #app__states .state__uf {
    color: white;
    font-size: 100%;
    font-weight: 700;
    display: inline-block;
    width: 22px;
    text-align: left;
  }


#app__numbers {
  background-color: #07262e;
  background-image: url('../images/aside-background.png');
  background-repeat: repeat;
  background-size: 50%;
  height: 100%;
  width: 28%;
  padding-top: 80px;

  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}

#app__numbers .numbers__region {
  background-color: #00e1f3;
  color: #001e2f;
  height: 40px;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px 25px;
  opacity: .8;
}

#app__numbers .numbers__state {
  background-color: rgba(0,74,85,.6);
  color: #ffffff;
  height: 60px;
  font-size: 26px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 12px 25px;
  margin-bottom: 20px;
}

#app__numbers .numbers__label {
  display: block;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  margin-left: 25px;
  margin-bottom: -5px;
}

#app__numbers .numbers__number {
  display: block;
  color: #ffffff;
  font-size: 37px;
  font-weight: 700;
  margin-left: 25px;
  margin-bottom: 20px;
}

#app__numbers .numbers__applications .numbers__number {
  color: #00e1f3;
  font-size: 53px;
}

#app__numbers .numbers__percent .numbers__number {
  color: #00e1f3;
}

#app__numbers .numbers__message {
  color: #ffffff;
  border-bottom: 1px solid #00e1f3;
  margin-left: 25px;
  margin-right: 25px;
  display: inline-block;
  margin-bottom: 20px;
}

#app__numbers .numbers__font {
  color: #ffffff;
  margin-left: 25px;
  margin-right: 35px;
}


@media (max-width: 767px) {

  #app__map {
    width: 48%;
    margin-left: 23%;
    height: calc(100% - 33px);
    background-position: 50% 0;
  }

  #app__states {
    width: 23%;
    padding-bottom: 42px;
    padding-top: 10px;
  }

  #app__numbers {
    width: 29%;
    padding-top: 10px;
  }
    #app__numbers .numbers__region {
      font-size: 14px;
      height: 30px;
      padding: 6px 15px;
    }
    #app__numbers .numbers__state {
      font-size: 16px;
      height: 40px;
      padding: 9px 15px;
      margin-bottom: 10px;
    }
    #app__numbers .numbers__label {
      font-size: 13px;
      margin: 0 15px;
      margin-bottom: -5px;
    }
    #app__numbers .numbers__number {
      font-size: 25px;
      margin: 0 15px;
      margin-bottom: 10px;
    }
    #app__numbers .numbers__applications .numbers__number {
      font-size: 37px;
    }
    #app__numbers .numbers__font {
      font-size: 11px;
      margin: 0 15px;
    }
}

@media (max-width: 575px) {

  #app__map {
    width: 100%;
    margin: 60px 0 0;
    height: 56.25vw;
  }

  #app__states {
    height: 60px;
    width: 100%;
    padding: 0;
    overflow-y: hidden;
    overflow-x: scroll;
    display: flex;
    align-items: center;
    background-image: none;
  }
    #app__states::-webkit-scrollbar {
      height: 5px;
    }
    #app__states .region, #app__states .state__name {
      display: none;
    }
    #app__states .state {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 10px;
      background-color: rgba(0,74,85,.6);
      border: 1px solid #fff;
      border-radius: 5px;
      padding: 8px 14px;
    }
    #app__states .state.state--selected {
      background-color: #fff;
    }
    #app__states .state__uf {
      width: 100%;
      color: #fff;
    }
    #app__states .state.state--selected .state__uf {
      color: #004a55;      
    }

  #app__numbers { 
    width: 100%;
    height: calc(100% - 56.25vw - 60px);
    margin: calc(56.25vw + 60px) 0 32px 0;
    padding-top: 0;
    padding-bottom: 32px;
    background-image: none;
   }
    #app__numbers .numbers__label {
      margin-bottom: -3px;
    }
    #app__numbers .numbers__number {
      font-size: 20px;
      margin-bottom: 5px;
    }
    #app__numbers .numbers__applications .numbers__number {
      font-size: 28px;
    }
    #app__numbers .numbers__population {
      float: right;
    }
}

/* Orientation Lock */
/* https://css-tricks.com/snippets/css/orientation-lock */
@media screen and (min-width: 320px) and (max-width: 699px) and (orientation: landscape) {
  body {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  body::before, body::after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
  body::before {
    content: '';
    background-image: url('../images/orientation.png');
    background-repeat: no-repeat;    
    background-size: 100%;
    background-position: center center;
    background-color: #212121;

    z-index: 99999999;
  }
  body::after {
    content: 'Por favor, vire seu dispositivo';
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-color: #0000;
    color: #fff;
    font-weight: 400;
    padding-bottom: 4rem;
    z-index: 999999999;
  }
}